## =====================================================================
##
## Delete cancer script service with bulk qualifiers delete
##
##
#if ($xcontext.action == 'get' && $request.action == 'deletecancer' && "$!{request.cancer}" != '' && "$!{request.objnumber}" != '' && $services.csrf.isTokenValid("$!{request.form_token}"))
  #set ($cancerObject = $doc.getObject($!{request.cancerclassname}, $!{request.objnumber}))
  #set ($qualifierObjects = $doc.getObjects($!{request.qualifierclassname}, 'cancer', $request.cancer))
  ## delete cancer
  $doc.removeObject($cancerObject)
  ## delete variants
  #if ($qualifierObjects)
    #foreach ($q in $qualifierObjects)
      $doc.removeObject($q)
    #end
  #end
  ## save document
  $doc.save('Deleted cancer and qualifiers')
#end
